# 基础依赖
Flask==2.0.1
Flask[async]==2.0.1
Werkzeug==2.0.1
requests==2.26.0
urllib3<1.27,>=1.21.1
charset-normalizer~=2.0.0
chardet<5,>=3.0.4
python-crontab==2.6.0
pytz==2021.3
python-dateutil==2.8.2
schedule==1.2.1
asgiref==3.5.2
beautifulsoup4==4.10.0
lxml==4.6.4
pywebview
psutil

# 打包工具
pyinstaller

# 其他依赖
pytest